
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


html {
  background-color: white;
}

#start_button {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #ffa500;
  font-size: 40px;
  color: black;
  border-radius: 30px;
}

button.btn {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #ffe474;
  color:#fff;
  margin: 5px 0px;
  font-size: 40px;
  color: black;
  border-radius: 30px
}

button.btn:hover
{
  background: #ffe474;
  color:black;
  //box-shadow: 3px 3px 6px #999;
  box-shadow: 0px 1px 1px rgba(0,0,0,.1)
}

h2.alert {
  font-size: 40px;
  border-radius: 30px;
}
h3.alert {
  font-size: 40px;
  border-radius: 30px;
}
div.container {
  font-family: 'Roboto Condensed', sans-serif;
  background: white;
}
div.card {
  margin: 20px 10px;
  background: #e6ffff;//fff0e6;
  border-radius: 30px
}

p {
  padding: 10px 10px;
  text-align: justify;
  margin: 20px 10px;
  background: #fff0e6;
  border-radius: 30px
}
/*
body {
	background: #18222f;
}



*/
img {
  display: block;
  max-width: 100%;
}


.wrapper {
	//position: absolute;
	width: 400px;
	height: 400px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row;
}
#container_chart {
	flex: 1;
	padding: 0 20px;
  background: #e6ffff;
}
